@model CustomerTransactionsViewModel

<h3 class="ui dividing teal header">LỊCH SỬ GIAO DỊCH</h3>

<div class="ui equal width internally celled grid">
    <div class="row">
        <div class="column center aligned">
            <div class="ui mini horizontal grey statistic">
                <div class="value">
                    @Model.TotalInvoices
                </div>
                <div class="label">
                    ĐƠN HÀNG TỔNG CỘNG
                </div>
            </div>
        </div>
        <div class="column center aligned">
            <div class="ui mini horizontal grey statistic">
                <div class="value">
                    @Model.TotalValuesFormated
                </div>
                <div class="label">
                    (VND) TỔNG GIÁ TRỊ GIAO DỊCH
                </div>
            </div>
        </div>
    </div>
    <div class="ui divider"></div>
</div>

<table class="ui very basic table">
    <thead>
        <tr>
            <th class="four wide">Mã Số</th>
            <th class="four wide">Ngày Lập</th>
            <th class="four wide">Trạng Thái</th>
            <th class="four wide">Tổng Tiền</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var invoice in Model.InvoicesPage)
            {
            <tr>
                @{

                    var month = invoice.Date.ToString("MM");
                    var day = invoice.Date.ToString("dd");
                    var prefix = "DH" + day + month + invoice.ID;

                    <td>
                        <div class="ui label">@prefix</div>
                    </td>
                }
                <td>
                    <b>@invoice.Date.ToString("dd/MM/yyyy hh:mm:ss tt")</b>
                </td>
                <td>
                    @if (invoice.StatusAcronym == "Paid")
                {
                        <div class="ui green label">@invoice.Status</div>
                    }
                    else if (invoice.StatusAcronym == "Semi-Paid")
                    {
                        <div class="ui olive label">@invoice.Status</div>
                    }
                    else
                    {
                        <div class="ui red label">@invoice.Status</div>
                    }
                </td>
                <td>
                    <div class="ui grey label">@invoice.TotalValuesFormated</div>
                </td>
            </tr>
                    }
    </tbody>
</table>

@Html.Partial("_PaginatedTransaction", Model.InvoicesPage)
