@model CustomerLiabilitesViewModel

<h3 class="ui dividing teal header">CÔNG NỢ HIỆN TẠI: @Model.TotalDebts.ToString("N0") VNĐ</h3>

<table class="ui very basic table">
    <thead>
        <tr>
            <th class="two wide">Mã Phiếu</th>
            <th class="three wide">Người Tạo</th>
            <th class="three wide">Ngày Tạo</th>
            <th class="two wide">Ghi Chú</th>
            <th class="three wide right aligned">Giá Trị</th>
            <th class="three wide right aligned">Công Nợ</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var debt in Model.Debts)
        {
            <tr>

                @{

                    var month = debt.DateCreate.ToString("MM");
                    var day = debt.DateCreate.ToString("dd");
                    var dayMonth = day + month;
                    var formatId = "";
                    if (debt.Value > 0)
                    {
                        formatId += "HD" + dayMonth + debt.Id;
                    }
                    else
                    {
                        formatId += "PT" + dayMonth + debt.Id;
                    }
                    <td>
                        <div class="ui label">@formatId</div>
                    </td>
                }

                <td>
                    @debt.Staff
                </td>
                <td>
                    @debt.DateCreate.ToString("dd/MM/yyyy hh:mm:ss tt")
                </td>
                <td>
                    @debt.Note
                </td>
                <td class="right aligned">
                    @if (debt.Value > 0)
                    {
                        <div class="ui green label">@debt.Value.ToString("N0") đ</div>
                    }
                    else
                    {
                        <div class="ui red label">@debt.Value.ToString("N0") đ</div>
                    }
                </td>
                <td class="right aligned">
                    <div class="ui grey label">@debt.Debt.ToString("N0") đ</div>
                </td>
            </tr>
                    }
    </tbody>
</table>

@Html.Partial("_PaginatedLiabilites", Model.Debts)
