@model CustomerInfoViewModel

<div class="ui centered grid equal width">    
    <div class="sixteen wide column">
        <h3 class="ui dividing teal header">THÔNG TIN KHÁCH HÀNG</h3>
    </div>
    <div class="row">
        <div class="column">
            <h3 class="ui dividing header">
                Mã số
                <div class="sub header">@Model.ID</div>
            </h3>
            <h3 class="ui dividing header">
                Số Điện Thoại
                <div class="sub header">@Model.SoDienThoai</div>
            </h3>
        </div>
        <div class="column">
            <h3 class="ui dividing header">
                Họ Tên
                <div class="sub header">@Model.TenKhachHang</div>
            </h3>
            <h3 class="ui dividing header">
                Email
                <div class="sub header">@Model.Email</div>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <h3 class="ui dividing header">
                Nhóm Khách Hàng
                <div class="sub header">@Model.TenLoaiKhachHang</div>
            </h3>
        </div>
        <div class="column">
            <h3 class="ui dividing header">
                Ngày Tham Gia
                <div class="sub header">@Model.NgayLap</div>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <h3 class="ui dividing header">
                Địa Chỉ
                <div class="sub header">@Model.DiaChi</div>
            </h3>
        </div>
    </div>

    @{
        if (ViewData["message"] != null)
        {
            @await Html.PartialAsync(ViewData["message"].ToString());
        }
    }

</div>
