@model CustomerDetailsViewModel

@{
    ViewData["Title"] = Model.Name;
}

@section menu{
    <div class="ui secondary pointing fluid menu">
        <h2 class="ui header">@Model.Name</h2>
        <div class="right menu">
            <div class="item">
                <div class="ui transparent icon input">
                    <input type="text" placeholder="Tìm kiếm..." class="search-input">
                    <a class="search-btn">
                        <i class="search icon"></i>
                    </a>
                </div>
            </div>
            <a class="ui active item" asp-action="Index">
                Danh Sách
            </a>
            <a class="ui item" asp-action="CreateCustomer">
                Thêm Mới
            </a>
        </div>
    </div>
}

<div class="four wide column">
    <div class="ui secondary vertical menu">
        <a class="@ViewData["Details"] item" asp-action="Details"
           asp-route-id="@Model.ID"
           asp-route-section="Details">
            Thông Tin
        </a>
        <a class="@ViewData["Edit"] item"
           asp-route-id="@Model.ID"
           asp-route-section="Edit">
            Cập Nhật
        </a>
        <a class="@ViewData["Transaction"] item"
           asp-route-id="@Model.ID"
           asp-route-section="Transaction">
            Lịch Sử Giao Dịch
        </a>
        <a class="@ViewData["Liabilities"] item"
           asp-route-id="@Model.ID"
           asp-route-section="Liabilities">
            Công Nợ
        </a>
    </div>
</div>
<div class="twelve wide column">

    @await Component.InvokeAsync(Model.Section, new { id = Model.ID })

</div>