
@model DonHangViewModel
@{
    ViewData["Title"] = "Chi Tiết Đơn Hàng";
}

<link href="~/css/ChiTietDonHang.css" rel="stylesheet" />
@section menu{
    <div class="ui secondary pointing fluid menu">
        <h2 class="ui header">Chi tiết đơn hàng</h2>
        <div class="right menu">
            <div class="item">
                <div class="ui transparent icon input">
                    <input type="text" placeholder="Tìm kiếm..." class="search-input">
                    <a class="search-btn">
                        <i class="search icon"></i>
                    </a>
                </div>
            </div>
            <a class="ui active item" asp-controller="DonHang" asp-action="Index" id="donhang">
                Đơn Hàng
            </a>
            <a class="ui item" asp-controller="PhieuThu" asp-action="Index" id="phieuthu">
                Phiếu Thu
            </a>
            <a class="ui item" asp-controller="PhieuChi" asp-action="Index" id="phieuchi">
                Phiếu Chi
            </a>
            <a class="ui item" asp-controller="TraHang" asp-action="Index" id="phieuthu">
                Phiếu Trả Hàng
            </a>
        </div>
    </div>
}

<div class="row">

    <div class="twelve wide column">
        <div class="ui grid">
            <input type="hidden" id="phieutraID" value="@Model.phieutraID" />
            <!-- Thông tin khách hàng-->
            <div class="row">
                <div class="sixteen wide column">
                    <div style="height:160px;">
                        <div class="column">
                            <h4 class="ui dividing teal header">THÔNG TIN KHÁCH HÀNG</h4>
                        </div>
                        <div class="row">
                            <div class="ui three column grid" style="padding-top:9px">
                                <div class="column">
                                    <h2 class="infoHeader">@Model.khachhang.TenLoaiKhachHang</h2>
                                </div>
                                <div class="column">
                                    <h4 class="infoHeader">Mã khách hàng</h4>
                                    <div>@Model.khachhang.ID</div>
                                </div>
                                <div class="column">
                                    <h4 class="infoHeader">Tên khách hàng</h4>
                                    <div>@Model.khachhang.TenKhachHang</div>
                                </div>
                                <div class="column" style="padding-top:0">
                                    <h4 class="infoHeader">Số điện thoại</h4>
                                    <div>@Model.khachhang.SoDienThoai</div>
                                </div>
                                <div class="column" style="padding-top:0">
                                    <h4 class="infoHeader">Email</h4>
                                    <div>@Model.khachhang.Email</div>
                                </div>
                                <div class="column" style="padding-top:0">
                                    <h4 class="infoHeader">Địa chỉ</h4>
                                    <div>@Model.khachhang.DiaChi</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sixteen wide column">
                        <h4 class="ui dividing teal header">THÔNG TIN HÀNG HÓA</h4>
                    </div>
                    <div style="margin-top:11px; overflow:auto;">
                        <table class="ui very basic selectable table">
                            <thead>
                                <tr>
                                    <th class="two wide">Mã hàng</th>
                                    <th class="eight wide">Tên hàng</th>
                                    <th class="two wide">Số lượng</th>
                                    <th class="two wide">Đơn giá</th>
                                    <th class="two wide">Thành tiền</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div style="overflow-x:hidden;overflow-y:auto; height: 180px;">
                        <table class="ui very basic selectable hidethead table">
                            <thead>
                                <tr>
                                    <th class="two wide"></th>
                                    <th class="eight wide"></th>
                                    <th class="two wide"></th>
                                    <th class="two wide"></th>
                                    <th class="two wide"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var customer in @Model.details)
                                {
                                    <tr>
                                        <td class="two wide">
                                            @customer.ID
                                        </td>
                                        <td class="eight wide">
                                            @customer.TenHangHoa
                                        </td>
                                        <td class="two wide">
                                            @customer.SoLuong
                                        </td>
                                        <td class="two wide">
                                            @(((int)customer.GiaBan).ToString("N0") + " ₫")
                                        </td>
                                        <td class="two wide">
                                            @(((int)customer.ThanhTien).ToString("N0") + " ₫")
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="sixteen wide column">
                        <h4 class="ui dividing teal header"></h4>
                    </div>
                    <div class="row">
                        <div class="ui two column grid" style="padding-top:9px">
                            <div class="ten wide column">
                                <h4 class="infoHeader">Ghi chú</h4>
                            </div>
                            <div class="six wide column">
                                <div class="ui two column grid">
                                    <div class="wide column">
                                        <h4 class="infoHeader">Tổng tiền</h4>
                                    </div>
                                    <div class="right aligned column">
                                        <div>@(((int)Model.TongTien).ToString("N0") + " ₫")</div>
                                    </div>
                                    <div class="wide column">
                                        <h4 class="infoHeader">Khách phải trả</h4>
                                    </div>
                                    <div class="right aligned column">
                                        <div>@(((int)Model.TongTien).ToString("N0") + " ₫")</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="four wide column">
            <div class="ui grid">
                <!-- Thanh toan -->
                <div class="row">

                    <div class="column">
                        <div class="ui dividing header">@Model.TenTrangThai</div>
                        <table class="ui very basic table">
                            <tbody>
                                <tr>
                                    <td class="six wide">Đơn hàng</td>
                                    <td class="ten wide right aligned">
                                        <div>@Model.ID</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="six wide">Tổng tiền</td>
                                    <td class="ten wide right aligned" >
                                        <div id="tongtien">@(((int)Model.TongTien).ToString("N0")+ " ₫")</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="six wide">Tiền đã thu</td>
                                    <td class="ten wide right aligned">
                                        <div id="tiendathu">@(((int)Model.TienDaThu).ToString("N0") + " ₫")</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div id="payment-table">
                            <form asp-action="UpdateDonHang" method="post" id="submitHD"></form>

                            <table class="ui very basic table">
                                <tbody>
                                    <tr>
                                        <td class="seven wide">Tiền thu</td>
                                        <td class="nine wide right aligned">
                                            <div class="ui input"
                                                 style="width: 140px;"
                                                 id="paid-money">
                                                <input type="text"
                                                       name="TienThu"
                                                       style="text-align:right;"
                                                       id="customerPaid"
                                                       value="0"/>
                                                
                                                <input type="hidden" name="ID" value="@Model.ID"/>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="six wide"></td>
                                        <td class="ten wide right aligned">
                                            <button class="ui positive fluid button" id="btnPay">Thanh toán</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>                    
                    </div>
                </div>
                @* trả hàng *@
                <div class="row">
                    <div class="column">
                        <div class="ui dividing header">Trả hàng</div>
                        <div id="hoantra">
                            <table class="ui very basic table" id="repayment-table">
                                <tbody>
                                    <tr>
                                        <td class="six wide"></td>
                                        <td class="ten wide right aligned">
                                            <a asp-controller="TraHang"
                                               asp-action="Create"
                                               asp-route-id="@Model.ID">
                                                <button class="ui positive fluid button">Hoàn trả</button>
                                            </a>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="danhan">Đã nhận</div>
                    </div>
                </div>
            </div>
    </div>
</div>
<div class="ui tiny modal" id="error-modal">
    <div class="header">Không Thể Thanh Toán </div>
    <div class="content">
        <div class="ui warning icon message">
            <i class="warning icon"></i>
            <div class="header">
                Số tiền phải lớn hơn 0.
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui blue cancel button">
            Quay lại
        </div>
    </div>
</div>
<div class="ui tiny modal" id="notify-modal">

</div>

<script>
    
</script>
<script src="~/js/DonHang/Details.js"></script>
<script src="~/js/Numeral-js/numeral.min.js"></script>
<script src="~/js/cleave.js/cleave.min.js"></script>
