@model PaginatedList<NhaCungCap>

<table class="data-table ui fixed selectable sortable table">
    <thead>
        <tr>
            <th>Tên nhà cung cấp</th>
            <th>Ngày lập</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenNhaCungCap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayLap)
                </td>
                <td class="action-buttons">
                    <div class="ui floated menu">
                        <a asp-action="Edit"
                           asp-route-id="@item.Id"
                           class="popup icon item"
                           data-content="Cập nhật">
                            <i class="edit icon"></i>
                        </a>
                        <a asp-action="Details"
                           asp-route-id="@item.Id"
                           class="popup icon item"
                           data-content="Chi tiết">
                            <i class="file text outline icon"></i>
                        </a>
                        <a asp-action="Delete"
                           asp-route-id="@item.Id"
                           class="popup icon item"
                           data-content="Xóa">
                            <i class="trash icon"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

