@model PaginatedList<NhaCungCap>

@{
    ViewData["Title"] = "Nhà cung cấp";
}

@await Html.PartialAsync("~/Views/NhaCungCap/_HeaderMenuPartial.cshtml", "Index")

<div class="page-container">
    <div class="ui sixteen column grid">
        @await Html.PartialAsync("_HangHoaMenuPartial", "NhaCungCap")

        <div class="data-table twelve wide column">
            <table class="ui fixed table">
                <thead>
                    <tr>
                        <th>Tên nhà cung cấp</th>
                        <th>Ngày lập</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr asp-action="Edit"
                            asp-route-id="@item.Id">
                            <td>
                                @Html.DisplayFor(modelItem => item.TenNhaCungCap)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NgayLap)
                            </td>
                            <td class="action-buttons">
                                <a asp-action="Edit"
                                   asp-route-id="@item.Id"
                                   class="ui basic icon button">
                                    <i class="edit icon"></i>
                                </a>
                                <a asp-action="Details"
                                   asp-route-id="@item.Id"
                                   class="ui basic icon button">
                                    <i class="file text outline icon"></i>
                                </a>
                                <a asp-action="Delete"
                                   asp-route-id="@item.Id"
                                   class="ui basic icon button">
                                    <i class="trash icon"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="ui pagination menu">
                @{
                    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                }

                <a asp-action="Index"
                   asp-route-page="1"
                   class="first item">
                    <i class="caret left icon" style="left:0;"></i>
                    <span style="width:100%;text-align:right;">Đầu</span>
                </a>

                <a asp-action="Index"
                   asp-route-page="@(Model.PageIndex - 1)"
                   class="previous item @prevDisabled">
                    <i class="chevron left icon"></i>
                </a>

                <select class="ui selection dropdown"
                        href="/HangHoa/NhaCungCap?page=">
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        if (i != Model.PageIndex)
                        {
                            <option value="@i">@i</option>
                        }
                        else
                        {
                            <option value="@i" id="page-index">@i</option>
                        }
                    }
                </select>

                <a asp-action="Index"
                   asp-route-page="@(Model.PageIndex +1 )"
                   class="next item @nextDisabled">
                    <i class="chevron right icon"></i>
                </a>

                <a asp-action="Index"
                   asp-route-page="@Model.TotalPages"
                   class="last item"
                   style="text-align:left;">
                    <i class="caret right icon" style="right:0;"></i>
                    <span style="width:100%;text-align:left;">Cuối</span>
                </a>
            </div>
        </div>
    </div>



</div>
