@model NonamePaginatedList<PhieuNhanHang>

@inject IStringLocalizer<SharedResource> sharedLocalizer

@{
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    var action = ViewContext.RouteData.Values["action"].ToString();

    Layout = string.Format("~/Views/Shared/{0}/_CRUDLayout.cshtml", controller);

    PhieuNhanHang phieuNhanHang = new PhieuNhanHang();
}

<table class="hang-hoa data-table ui blue selectable sortable table">
    <thead>
        <tr>
            <th class="one wide"> @Html.DisplayNameFor(p => phieuNhanHang.Id)</th>
            <th class="eleven wide">@Html.DisplayNameFor(p => phieuNhanHang.NgayLap)</th>
            <th class="three wide">@Html.DisplayNameFor(p => phieuNhanHang.NhanVienId)</th>
            <th class="one wide">@sharedLocalizer["Operator"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <span class="ui label black" style="width:100%">
                        @string.Format(
                       "{0}{1}",
                       sharedLocalizer["PNH"],
                       item.Id)
                    </span>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.NgayLap)
                </td>

                <td>
                    @item.NhanVien.FullName
                </td>

                <td class="action-buttons">
                    <div class="ui floated menu">
                        <a asp-action="Details"
                           asp-route-id="@item.Id"
                           class="details icon item">
                            <i class="file text outline icon"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var paginated = new NonamePaginated(
        Model.PageIndex,
        Model.TotalPages
        );
}

@await Html.PartialAsync("_PaginatedPartial", paginated)

<div id="form-modal" class="ui modal">
</div>

<script>
    $(document).ready(function () {
        $('.money').each(function (index) {
            numeral.defaultFormat('0,0');

            var text = $(this).text();

            $(this).text(numeral(text).format() + ' VNĐ');
            console.log($(this).text());
        });
    });
</script>
