@model PaginatedList<TraHangViewModel>

@{
    ViewData["Title"] = "Phiếu Trả Hàng";
}

@section menu{
    <div class="ui secondary pointing fluid menu">
        <h2 class="ui header">Phiếu Trả Hàng</h2>
        <div class="right menu">
            <div class="item">
                <div class="ui transparent icon input">
                    <input type="text" placeholder="Tìm kiếm..." class="search-input">
                    <a class="search-btn">
                        <i class="search icon"></i>
                    </a>
                </div>
            </div>
            <a class="ui item" asp-controller="DonHang" asp-action="Index" id="donhang">
                Đơn Hàng
            </a>
            <a class="ui item" asp-controller="PhieuThu" asp-action="Index" id="phieuthu">
                Phiếu Thu
            </a>
            <a class="ui item" asp-controller="PhieuChi" asp-action="Index" id="phieuchi">
                Phiếu Chi
            </a>
            <a class="ui active item" asp-controller="TraHang" asp-action="Index" id="phieuthu">
                Phiếu Trả Hàng
            </a>
        </div>
    </div>
    <div class="row">
        <div class="sixteen wide column">
            <div class="ui secondary menu four item">
                <a class="active item"
                   asp-controller="TraHang"
                   asp-action="Index">
                    <i class="list layout icon"></i>
                    Danh sách phiếu trả hàng
                </a>
                <a class="item"
                   asp-controller="TraHang"
                   asp-action="ListDonHang">
                    <i class="add square icon"></i>
                    Thêm mới phiếu trả hàng
                </a>
            </div>
        </div>
    </div>
}

<div class="row" id="context">
    <div class="sixteen wide column" style="padding:0">
        <table class="ui teal table">
            <thead>
                <tr>
                    <th>
                        <a asp-action="Index"
                           asp-route-sortOrder="@ViewData["NameSortParm"]"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]">
                            Mã phiếu
                        </a>
                    </th>
                    <th>
                        <a asp-action="Index"
                           asp-route-sortOrder="@ViewData["NameSortParm"]"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]">
                            Khách hàng
                        </a>
                    </th>
                    <th>
                        Mã đơn hàng
                    </th>
                    <th>Người tạo</th>
                    <th>Số tiền</th>
                    <th>
                        <a asp-action="Index"
                           asp-route-sortOrder="@ViewData["DateSortParm"]"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]">
                            Ngày Lập
                        </a>
                    </th>
                    <th>Ghi chú</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {
                    <tr>
                        <td class="selectable">
                            <a asp-action="Details" asp-route-id="@customer.ID">
                                @customer.ID
                            </a>
                        </td>
                        <td class="selectable">
                            <a asp-action="Details" asp-route-id="@customer.ID">
                                @customer.TenKhachHang
                            </a>
                        </td>
                        <td class="selectable">
                            <a asp-action="Details" asp-route-id="@customer.ID">
                                @customer.DonHangId
                            </a>
                        </td>
                        <td class="selectable">
                            <a asp-action="Details" asp-route-id="@customer.ID">
                                @customer.TenNhanVien
                            </a>
                        </td>
                        <td class="selectable">
                            <a asp-action="Details" asp-route-id="@customer.ID">
                                @(((int)customer.TongTien).ToString("N0") + " ₫")
                            </a>
                        </td>
                        <td class="selectable">
                            <a asp-action="Details" asp-route-id="@customer.ID">
                                @customer.NgayLap
                            </a>
                        </td>
                        <td class="selectable">
                            <a asp-action="Details" asp-route-id="@customer.ID">
                                @customer.GhiChu
                            </a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

        @Html.Partial("_Paginated", Model)

    </div>
</div>
<script src="~/js/PhieuThu/PhieuThuIndex.js"></script>
<script>
    $('.search-input').keypress(function (event) {

        if (event.which == 13) {

            var keyword = $(this).val();
            var url = '@Url.Action("Index","PhieuThu")';

            window.location = url + "?searchString=" + keyword;
        }
    });
</script>
