@model NonamePaginatedList<HangHoa>

@inject IStringLocalizer<SharedResource> sharedLocalizer

@{
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    var action = ViewContext.RouteData.Values["action"].ToString();

    Layout = string.Format("~/Views/Shared/{0}/_CRUDLayout.cshtml", controller);

    HangHoa hangHoa = new HangHoa();
}

<table class="hang-hoa data-table ui blue selectable sortable table">
    <thead>
        <tr>
            <th class="one wide">@Html.DisplayNameFor(p => hangHoa.Id)</th>
            <th class="two wide">@Html.DisplayNameFor(p => hangHoa.TenHangHoa)</th>
            <th class="two wide">@Html.DisplayNameFor(p => hangHoa.NgayLap)</th>
            <th class="three wide">@Html.DisplayNameFor(p => hangHoa.LoaiHangHoaId)</th>
            <th class="two wide">@Html.DisplayNameFor(p => hangHoa.TonKho)</th>
            <th class="two wide">@Html.DisplayNameFor(p => hangHoa.DaBan)</th>
            <th class="three wide">@Html.DisplayNameFor(p => hangHoa.TrangThaiId)</th>
            <th class="one wide">@sharedLocalizer["Operator"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string rowState = string.Empty;
            string iconState = string.Empty;

            switch (item.TrangThai.VietTat)
            {
                case "NotUse":
                    rowState = "negative";
                    iconState = "<i class=\"large icon close\"></i>";
                    break;

                case "Use":
                    iconState = "<i class=\"large green checkmark icon\"></i>";
                    break;

                default:
                    break;
            }

            <tr class="@rowState">
                <td>
                    <span class="ui label black" style="width:100%">
                        @string.Format(
                       "{0}{1}",
                       sharedLocalizer["HH"],
                       item.Id)
                    </span>
                </td>
                <td>
                    @item.TenHangHoa
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayLap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoaiHangHoa.TenLoaiHangHoa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TonKho)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DaBan)
                </td>
                <td>
                    <b>
                        @Html.Raw(iconState)
                        @sharedLocalizer[item.TrangThai.VietTat]
                    </b>
                </td>

                <td class="action-buttons">
                    <div class="ui compact menu">
                        <a asp-action="Edit"
                           asp-route-id="@item.Id"
                           class="edit icon item">
                            <i class="edit icon"></i>
                        </a>
                        <a asp-action="Details"
                           asp-route-id="@item.Id"
                           class="details icon item">
                            <i class="file text outline icon"></i>
                        </a>
                        <a asp-action="Delete"
                           asp-route-id="@item.Id"
                           class="delete icon item">
                            <i class="trash icon"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var paginated = new NonamePaginated(
        Model.PageIndex,
        Model.TotalPages
        );
}

@await Html.PartialAsync("_PaginatedPartial", paginated)

<div id="form-modal" class="ui modal">
</div>
