@model StatisticsViewModel

<div class="row four column">
    <div class="column center aligned">
        <div class="ui segment">
            <div class="ui tiny statistic">
                <div class="value">
                    <i class="money icon"></i> @Model.TotalTransactionValues
                </div>
                <div class="label">
                    @Html.DisplayNameFor(model => model.TotalTransactionValues)
                </div>
            </div>
        </div>
    </div>
    <div class="column center aligned">
        <div class="ui segment">
            <div class="ui tiny statistic">
                <div class="value">
                    <i class="cdd co cart icon"></i> @Model.ToTalInventoryValues
                </div>
                <div class="label">
                    @Html.DisplayNameFor(model => model.ToTalInventoryValues)
                </div>
            </div>
        </div>
    </div>
    <div class="column center aligned">
        <div class="ui segment">
            <div class="ui tiny statistic">
                <div class="value">
                    <i class="user icon"></i> @Model.TotalCustomers
                </div>
                <div class="label">
                    @Html.DisplayNameFor(model => model.TotalCustomers)
                </div>
            </div>
        </div>
    </div>
    <div class="column center aligned">
        <div class="ui segment">
            <div class="ui tiny statistic">
                <div class="value">
                    <i class="database icon"></i> @Model.ToTalGoods
                </div>
                <div class="label">
                    @Html.DisplayNameFor(model => model.ToTalGoods)
                </div>
            </div>
        </div>
    </div>
</div>

