@model NhanHieu

@inject IStringLocalizer<SharedResource> sharedLocalizer

<form id="NhanHieu"
      asp-action="CreateConfirmed"
      asp-route-modal="@ViewData["Modal"]"
      asp-route-redirect="@ViewData["Redirect"]"
      class="crud-form update ui form">
    @if (ViewData["Modal"] != null && (bool)ViewData["Modal"] == true)
    {
        <h2 class="ui header">@ViewData["Action"]</h2>
    }

    <div class="required field">
        <label asp-for="TenNhanHieu"></label>
        <input asp-for="TenNhanHieu"
               type="text"
               placeholder="@Html.DisplayNameFor(model => model.TenNhanHieu)">
    </div>

    <div class="action-buttons">
        <button class="action-button submit ui basic button" type="submit">
            <i class="add icon"></i>
            @sharedLocalizer["Create"]
        </button>
        @if ((bool)ViewData["Modal"] == true)
        {
            <a class="action-button cancel ui basic return button">
                <i class="reply icon"></i>
                @sharedLocalizer["Cancel"]
            </a>
        }
        else
        {
            <a asp-action="Index"
               class="action-button cancel ui basic return button">
                <i class="reply icon"></i>
                @sharedLocalizer["Cancel"]
            </a>
        }
    </div>
</form>