@model PaginatedList<PhieuThuViewModel>

@{
    ViewData["Title"] = "Phiếu Thu";
    var list = ViewBag._listdonhang;
}

@section menu{
    <div class="ui secondary pointing fluid three item menu" style="margin:0">
        <a class="ui item" asp-controller="DonHang" asp-action="Index" id="donhang">
            Đơn Hàng
        </a>
        <a class="ui active item" asp-controller="PhieuThu" asp-action="Index" id="phieuthu">
            Phiếu Thu
        </a>
        <a class="ui item" asp-controller="PhieuChi" asp-action="Index" id="phieuchi">
            Phiếu Chi
        </a>
    </div>
    <div class="ui secondary pointing fluid two item menu" style="margin-top:0">
        <a class="ui active item" asp-action="Index" id="donhang">
            Danh Sách Phiếu Thu
        </a>
        <a class="ui item" asp-action="Index" id="phieuthu">
            Thêm Mới Phiếu Thu
        </a>
    </div>
}

<div class="ui header" id="list-customer" style="margin:6px;">Danh Sách Phiếu Thu</div>

<div class="row" id="context">
    <div class="sixteen wide column" style="padding:0">
        <table class="ui teal table">
            <thead>
                <tr>
                    <th>
                        <a asp-action="Index"
                           asp-route-sortOrder="@ViewData["NameSortParm"]"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]">
                            ID
                            @*<i class="caret @ViewData["SortDirection"] icon"></i>*@
                        </a>
                    </th>
                    <th>Mã Đơn Hàng</th>
                    
                    <th>Tổng tiền</th>
                    <th>Loại Phiếu</th>
                    <th>
                        <a asp-action="Index"
                           asp-route-sortOrder="@ViewData["DateSortParm"]"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]">
                            Ngày Lập
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {
                    <tr>
                        <td class="selectable">
                            <a asp-action="Details" asp-route-id="@customer.ID">
                                @customer.ID
                            </a>
                        </td>
                        <td class="selectable">
                            <a asp-action="Details" asp-route-id="@customer.ID">
                                @customer.DonHangId
                            </a>
                        </td>
                        <td class="selectable">
                            <a asp-action="Details" asp-route-id="@customer.ID">
                                @customer.TongTien
                            </a>
                        </td>
                        <td class="selectable">
                            <a asp-action="Details" asp-route-id="@customer.ID">
                                @customer.TenLoaiPhieu
                            </a>
                        </td>
                        <td class="selectable">
                            <a asp-action="Details" asp-route-id="@customer.ID">
                                @customer.NgayLap
                            </a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

        @Html.Partial("_Paginated", Model)

    </div>
</div>

<script>
    $("#phieuthu").click(function () {
        document.getElementById("head").innerHTML = "Phiếu Thu";
    });
</script>