@model NhaCungCap

@inject IStringLocalizer<SharedResource> sharedLocalizer

<form id="NhaCungCap"
      asp-action="EditConfirmed"
      asp-route-modal="@ViewData["Modal"]"
      asp-route-redirect="@ViewData["Redirect"]"
      class="crud-form update ui form">
    <h2 class="ui header aligned center">@ViewData["Action"]</h2>

    <h2 class="ui dividing header">
        @sharedLocalizer["NhaCungCap"]
        <span class="ui label">
            @string.Format("{0}{1}",
           sharedLocalizer["NCC"],
           Model.Id)
        </span>
    </h2>

    <input type="hidden" asp-for="Id" />

    <div class="field">
        <label asp-for="TenNhaCungCap"></label>
        <input asp-for="TenNhaCungCap"
               placeholder="@Html.DisplayNameFor(model => model.TenNhaCungCap)">
    </div>
    <div asp-for="NgayLap"
         class="field">
        <label asp-for="NgayLap"></label>
        <input type="date"
               readonly=""
               placeholder="@Html.DisplayNameFor(model => model.NgayLap)"
               value="@string.Format("{0:yyyy-MM-dd}", Model.NgayLap)">
    </div>

    <div class="action-buttons">
        <button class="action-button ui basic button">
            <i class="checkmark icon"></i>
            @sharedLocalizer["Edit"]
        </button>
        @if ((bool)ViewData["Modal"] == true)
        {
            <a class="action-button cancel ui basic button">
                <i class="reply icon"></i>
                @sharedLocalizer["Cancel"]
            </a>
        }
        else
        {
            <a asp-action="Index"
               class="action-button cancel ui basic button">
                <i class="reply icon"></i>
                @sharedLocalizer["Cancel"]
            </a>
        }
    </div>
</form>
