@model LoaiHangHoa

@inject IStringLocalizer<SharedResource> sharedLocalizer

<form id="LoaiHangHoa"
      asp-action="DeleteConfirmed"
      asp-route-modal="@ViewData["Modal"]"
      asp-route-redirect="@ViewData["Redirect"]"
      asp-route-id="@Model.Id"
      class="crud-form update ui form">
    <h2 class="ui header aligned center">@ViewData["Action"]</h2>

    <h2 class="ui dividing header">
        @sharedLocalizer["LoaiHangHoa"]
        <span class="ui label">
            @string.Format("{0}{1}",
           sharedLocalizer["LHH"],
           Model.Id)
        </span>
    </h2>

    <div class="field">
        <label asp-for="TenLoaiHangHoa"></label>
        <input asp-for="TenLoaiHangHoa"
               readonly=""
               placeholder="@Html.DisplayNameFor(model => model.TenLoaiHangHoa)">
    </div>

    <div class="action-buttons">
        <button class="action-button ui basic button">
            <i class="trash icon"></i>
            @sharedLocalizer["Delete"]
        </button>
        @if ((bool)ViewData["Modal"] == true)
        {
            <a class="action-button cancel ui basic button">
                <i class="reply icon"></i>
                @sharedLocalizer["Cancel"]
            </a>
        }
        else
        {
            <a asp-action="Index"
               class="action-button cancel ui basic button">
                <i class="reply icon"></i>
                @sharedLocalizer["Cancel"]
            </a>
        }
    </div>
</form>
