@model NonamePaginatedList<LoaiHangHoa>

@inject IStringLocalizer<SharedResource> sharedLocalizer

@{
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    var action = ViewContext.RouteData.Values["action"].ToString();

    Layout = string.Format("~/Views/Shared/{0}/_CRUDLayout.cshtml", controller);

    LoaiHangHoa loaiHangHoa = new LoaiHangHoa();
}

<table class="nhan-hieu data-table ui blue selectable sortable table">
    <thead>
        <tr>
            <th class="one wide">@Html.DisplayNameFor(p => loaiHangHoa.Id)</th>
            <th class="thirteen wide">@Html.DisplayNameFor(p => loaiHangHoa.TenLoaiHangHoa)</th>
            <th class="two wide">@sharedLocalizer["Operator"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <span class="ui label">
                        @string.Format(
                       "{0}{1}",
                       sharedLocalizer["LHH"],
                       item.Id)
                    </span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenLoaiHangHoa)
                </td>
                <td class="action-buttons">
                    <div class="ui floated menu">
                        <a asp-action="Edit"
                           asp-route-id="@item.Id"
                           class="popup icon item">
                            <i class="edit icon"></i>
                        </a>
                        <a asp-action="Details"
                           asp-route-id="@item.Id"
                           class="popup icon item">
                            <i class="file text outline icon"></i>
                        </a>
                        <a asp-action="Delete"
                           asp-route-id="@item.Id"
                           class="popup icon item">
                            <i class="trash icon"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var paginated = new NonamePaginated(
        Model.PageIndex,
        Model.TotalPages
        );
}

@await Html.PartialAsync("_PaginatedPartial", paginated)

<div id="form-modal" class="ui modal">
</div>
