@model List<Staff>

@{
    ViewData["Title"] = "Admin";

}

@Html.Partial("_AdminMenu");

<div class="row">
    <div class="eleven wide column">
        <div class="ui left floated header">Danh Sách Tài Khoản</div>        
        <div class="ui clearing divider"></div>
    </div>
</div>
<div class="row">
    <div class="eleven wide column">
        <table class="ui very basic fixed table">
            <thead>
                <tr>
                    <th>Tên Nhân Viên</th>
                    <th>Tên Tài Khoản</th>
                    <th>Ngày Tạo</th>
                    <th class="right aligned">Hành Động</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.FullName</td>
                        <td>@user.UserName</td>
                        <td>@user.DateCreate</td>
                        <td class="right aligned">
                            <div class="ui compact menu">
                                <div class="icon link item view"
                                     id="@user.Id"
                                     data-title="Xem">
                                    <i class="file text outline icon"></i>
                                </div>
                                <div class="icon link item delete"
                                     data-title="Xóa"
                                     id="@user.Id">
                                    <i class="remove icon"></i>
                                </div>
                                <div class="icon link item update"
                                     data-title="Sửa"
                                     id="@user.Id">
                                    <i class="edit icon"></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
