@model PaginatedList<Staff>

@{
    ViewData["Title"] = "Admin";

}

@Html.Partial("_AdminMenu","Index")

<div class="row">
    <div class="eleven wide column">
        <div class="ui left floated header">Danh Sách Tài Khoản</div>        
        <div class="ui clearing divider"></div>
    </div>
</div>
<div class="row">
    <div class="eleven wide column">
        <div class="ui inverted active dimmer" id="first-load-loader">
            <div class="ui loader"></div>
        </div>
        <div id="user-segment">

        </div>
    </div>
</div>

<div class="ui tiny modal additional-modal">
</div>
<div class="ui tiny modal edit-modal">
</div>

<script>
    var urlListStaff = '@Url.Action("ListUser", "Admin")';
    var viewUrl = '@Url.Action("ViewUser","Admin")';
    var deleteUrl = '@Url.Action("DeleteUser", "Admin")';
    var editUrl = '@Url.Action("EditUser", "Admin")';
    var confirmDeleteUrl = '@Url.Action("ConfirmDeleteUser", "Admin")';
</script>

<script src="~/js/Admin/Admin.js"></script>